inst/database/V1-V3_8F-534R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nsq filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang21_2019-07-25_wrefseq_sequences_unique_variants.nin filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang21_2019-07-25_wrefseq_table_unique_variants_R_pre_new_exclusion.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang21_2020-01-29_wrefseq_table_unique_variants_R.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V4_515F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nin filter=lfs diff=lfs merge=lfs -text
inst/database/taxonomy_2018-04-05.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nhr filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nin filter=lfs diff=lfs merge=lfs -text
inst/database/V4_515F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nhr filter=lfs diff=lfs merge=lfs -text
inst/database/V4_515F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nsq filter=lfs diff=lfs merge=lfs -text
inst/database/V4_515F-805R_hang22_2020-01-29_wrefseq_table_unique_variants_R.txt filter=lfs diff=lfs merge=lfs -text
inst/database/lineages-2020-02-14_bacteria_archaea.Rdata filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang21_2019-07-25_wrefseq_sequences_unique_variants.nhr filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang21_2019-07-25_wrefseq_sequences_unique_variants.nsq filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang10_2019-07-25_wrefseq_sequences_unique_variants.nsq filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang22_2020-01-29_wrefseq_table_unique_variants_R.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nin filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang22_2020-01-29_wrefseq_table_unique_variants_R.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang10_2019-07-25_wrefseq_sequences_unique_variants.nhr filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang10_2019-07-25_wrefseq_sequences_unique_variants.nin filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nsq filter=lfs diff=lfs merge=lfs -text
inst/database/V1-V3_8F-534R_hang10_2019-07-25_wrefseq_table_unique_variants_R.txt filter=lfs diff=lfs merge=lfs -text
inst/database/V3-V4_337F-805R_hang22_2020-01-29_wrefseq_sequences_unique_variants.nhr filter=lfs diff=lfs merge=lfs -text
exec/blastn_linux filter=lfs diff=lfs merge=lfs -text
exec/blastn_macos filter=lfs diff=lfs merge=lfs -text
exec/curl_linux filter=lfs diff=lfs merge=lfs -text
exec/curl_macos filter=lfs diff=lfs merge=lfs -text
exec/makeblastdb_linux filter=lfs diff=lfs merge=lfs -text
exec/makeblastdb_macos filter=lfs diff=lfs merge=lfs -text
